body{
    margin: 0;
    padding: 0;
    border: 0;
}
.ppal{
    position: absolute;
    width: 100%;
    height: 100%;
}

.head{
    background-color: #32502E;
    border-bottom: 5px solid black;
    
}
.head img{
    display: inline;
    float: right;
    margin: 2vmax 3vmax;
    width: 5vw;
}
.head h1 {
    display: inline;
    float:left;
    font-family: 'Trocchi', 'serif';
    font-size: 6vw;
    margin: 1vh 2vmax;
}
.cuerpo{
    margin: 0%;
    background-color: aquamarine;
}
.lateral{
    float: left;
    background-color: #406343;
    text-align: center;
}
.cont{
    float: right;
    background-color: #ECE7B4;
    text-align: center;
}

/* Estilo de Filas */
.f1{
    display: inline-block;
    width: 100%;
    height: 10%;
}
.f2{
    width: 100%;
    height: 20%;
    display: inline-block;
}
.f3{
    display: inline-block;
    width: 100%;
    height: 30%;
}
.f4{
    display: inline-block;
    width: 100%;
    height: 40%;
}
.f5{
    display: inline-block;
    width: 100%;
    height: 50%;
}
.f6{
    display: inline-block;
    width: 100%;
    height: 60%;
}
.f7{
    display: inline-block;
    width: 100%;
    height: 70%;
}
.f8{
    display: inline-block;
    width: 100%;
    height: 80%;
}
.f9{
    display: inline-block;
    width: 100%;
    height: 90%;
}
/* Estilo de Columnas */
.c1{
    display: inline;
    width: 10%;
    height: 100%;
}
.c2{
    display: inline;
    width: 20%;
    height: 100%;
}
.c3{
    display: inline;
    width: 30%;
    height: 100%;
}
.c4{
    display: inline;
    width: 40%;
    height: 100%;
}
.c5{
    display: inline;
    width: 50%;
    height: 100%;
}
.c6{
    display: inline;
    width: 60%;
    height: 100%;
}
.c7{
    display: inline;
    width: 70%;
    height: 100%;
}
.c8{
    display: inline;
    width: 80%;
    height: 100%;
}
.c9{
    display: inline;
    width: 90%;
    height: 100%;
}

/* Componentes generales */
button{
    font-family: Impact;
    font-size: 1.5vmax;
    background-color: #32502E;
    color: white;
    border-radius: 10px;
}
button:hover{
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea, select{
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5vmax;
    margin: 1vmax;
}
label{
    font-family: impact;
    font-size: 1.5vmax;
    margin: 1vmax;
}
h2{
    font-family: impact;
    font-size: 32px;
    text-align: center;
}
.lateral img{
    width: 80%;
    border: 4px solid black;
}
.formulario{
    float: left;
    width: 70%;
    height: 90%;
    margin: 2.5% 15%;
    border: 4px double black;
    border-radius: 10px;
    background-color: darkgrey;
}