<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">
        <title>{{ titulo }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/estilobase.css')}}">
    </head>
    <body>
        <div class="ppal">
            <div class="f2 head">
                <h1>Swissôtel The Stamford</h1>
                <a href="/login/"> <img src="http://assets.stickpng.com/images/585e4beacb11b227491c3399.png" alt="Imagen"></a>
            </div>
            <div class="f8 cuerpo">
                <div class="c3 lateral">
                    {% block contenido1 %}
                    {% endblock %}
                </div>
                <div class="c7 cont">
                    {% block contenido2 %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>