{% extends 'base.html' %}

{% block contenido1 %}
    
    <div class="f5">
        <img style="margin-top: 20%;"  src="https://static.abc.es/Media/201504/27/hotel12--644x362.jpg" alt="No se pudo cargar la imagen" id="fotos">
    </div>
    <div class="f5">
        <button style="margin-top: 15px;">Subir fotos</button>    
    </div>
{% endblock %}

{% block contenido2 %}
    <form class="formulario" action="/home" method="POST" id="form">
        <div class="f1">
            <h2>Agregar habitación</h2>
        </div>
        <div class="f1">
            <div class="c5">
                <label for="codigo">Código:</label><input type="text" name="codigo" id="codigo">
            </div>
            <div class="c5">
                <label for="numero">Número:</label><input type="text" name="numero" id="numero">
            </div>
        </div>
        <div class="f1">
            <div class="c5">
                <label for="tipo">Tipo:</label> <select name="tipo" id="tipo"><option value="default" selected>Elija una opción</option><option value="simple">Simple</option><option value="doble">Doble</option><option value="vip">VIP</option></select>
            </div>
            <div class="c5">
                <label for="precio">Precio:</label><input type="text" name="precio" id="precio">
            </div>
        </div>
        <div class="f1">
            <div class="c2">
                <label for="dispo">Disponibilidad:</label>
            </div>
            <div class="c4">
                <label for="dispo">Inicio:</label>
                <input type="date" name="dispo" id="dispoini" placeholder="dd/mm/aaaa">
            </div>
            <div class="c4">
                <label for="dispo">Fin:</label>
                <input type="date" name="dispo" id="dispofin" placeholder="dd/mm/aaaa">
            </div>
        </div>
        <div class="f3">
            <div class="c3" style="float: left; margin-top: 3%;">
                <label for="descrip">Descripción:</label>
            </div>
            <div class="c7" style="float: left;">
                <textarea style="margin-right: 15%; width: 80%;" aria-multiline="true" id="descrip" name="descrip" placeholder="Escriba una descripción"></textarea>
            </div>
        </div>
        <div class="f1">
            <button style="margin-top: 10px;" type="submit" id="agregar" name="agregar">Agregar</button>
        </div>
    </form>
{% endblock %}
