{% extends 'base.html' %}

{% block contenido1 %}
    <div class="c5">
        <select style="margin-top: 50% ; ;" name="tipo" id="tipo"><option value="default" selected>Habitaciones</option><option value="101">100</option><option value="101">101</option><option value="102">102</option><option value="103">103</option><option value="104">104</option><option value="105">105</option><option value="106">106</option><option value="107">107</option><option value="108">108</option><option value="109">109</option></select>
    </div>
    <div class="f5">
        <button style="margin-top: 30%;">Buscar</button>    
    </div>
{% endblock %}

{% block contenido2 %}
    <img style="width: 715px; height: 402px; margin-top: 8%;" src="{{url_for('static', filename='images/dashboard.jpg')}}" alt="No se pudo cargar la imagen :(" id="fotos">
{% endblock %}
